<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.katsuna.widgets">

    <compatible-screens>
        <!-- all normal size screens -->
        <screen android:screenSize="normal" android:screenDensity="mdpi" /> <!-- 160 -->
        <screen android:screenSize="normal" android:screenDensity="hdpi" /> <!-- 240 -->
        <screen android:screenSize="normal" android:screenDensity="280" /> <!-- Workaround -->
        <screen android:screenSize="normal" android:screenDensity="xhdpi" />  <!-- 320 -->
        <screen android:screenSize="normal" android:screenDensity="360" /> <!-- Workaround -->
        <screen android:screenSize="normal" android:screenDensity="420" /> <!-- Workaround Google Pixel, Nexus 5x -->
        <screen android:screenSize="normal" android:screenDensity="xxhdpi" /> <!-- 480 -->
        <screen android:screenSize="normal" android:screenDensity="560" /> <!-- Workaround Google Pixel XL, Nexus 6, Nexus 6P -->
        <screen android:screenSize="normal" android:screenDensity="xxxhdpi" /> <!-- 640 -->
    </compatible-screens>

    <!-- Keep in sync with build.gradle -->
    <uses-sdk android:minSdkVersion="24" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.katsuna.services.datastore.permission.preferences" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/home_widget_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <receiver android:name="com.katsuna.widgets.commons.WidgetCollection" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget" />

        </receiver>
        <receiver android:name="com.katsuna.widgets.weatherwidget.WifiReceiver"
            android:enabled="true" android:label="com.katsuna.widgets.weatherwidget.WifiReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
            </intent-filter>
        </receiver>
        <!--<receiver android:name=".WeatherWidget" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
            <!--</intent-filter>-->
            <!--<meta-data android:name="android.appwidget.provider"-->
                <!--android:resource="@xml/main_widget_info" />-->

        <!--</receiver>-->


        <!-- delete main -->
        <activity
            android:name="com.katsuna.widgets.clockwidget.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>

        <activity
            android:name="com.katsuna.widgets.commons.PermissionActivity"
            android:noHistory="true">


            <intent-filter>
                <action android:name="com.katsuna.widgets.permissions" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <!--<receiver android:name="com.katsuna.widgets.clockwidget.ClockWidget">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
            <!--</intent-filter>-->

            <!--<meta-data-->
                <!--android:name="android.appwidget.provider"-->
                <!--android:resource="@xml/clock_widget_info" />-->
        <!--</receiver>-->

        <service
            android:name="com.katsuna.widgets.weatherwidget.WeatherMonitorService"
            android:enabled="true"
            android:exported="true" />


        <!--    Clock staff -->


        <service
            android:name="com.katsuna.widgets.weatherwidget.WeatherJobService"
            android:label="Word service"
            android:permission="android.permission.BIND_JOB_SERVICE" >

        </service>

        <!--<receiver-->
            <!--android:name="com.katsuna.widgets.clockwidget.ClockBootReceiver"-->
            <!--android:permission="android.permission.RECEIVE_BOOT_COMPLETED">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->



        

    </application>

</manifest>
